## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import os

## Reading Data

In [2]:
print(os.getcwd())

C:\Users\besho\Downloads\New Eplison Materials\Pandas\Pandas Movie Project

In [3]:
movies= pd.read_csv('imdb_movies.csv')
movies.head(100)

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,metascore,GROSS COLLECTION
0,1,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,When a tribal man is arrested for a case of al...,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,2,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,3,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,"The Godfather follows Vito Corleone, Don of th...",Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,4,The Dark Knight,-2008,PG-13,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,5,The Godfather: Part II,-1974,R,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Braveheart,-1995,R,178 min,"Biography, Drama, History",8.3,Scottish warrior William Wallace leads his cou...,Mel Gibson,Mel Gibson,Sophie Marceau,Patrick McGoohan,Angus Macfadyen,999264,68.0,$75.60M
96,97,Reservoir Dogs,-1992,R,99 min,"Crime, Drama, Thriller",8.3,When a simple jewelry heist goes horribly wron...,Quentin Tarantino,Harvey Keitel,Tim Roth,Michael Madsen,Chris Penn,970977,79.0,$2.83M
97,98,Full Metal Jacket,-1987,R,116 min,"Drama, War",8.3,A pragmatic U.S. Marine observes the dehumaniz...,Stanley Kubrick,Matthew Modine,R. Lee Ermey,Vincent D'Onofrio,Adam Baldwin,710376,76.0,$46.36M
98,99,Come and See,-1985,Not Rated,142 min,"Drama, Thriller, War",8.3,"After finding an old rifle, a young boy joins ...",Elem Klimov,Aleksey Kravchenko,Olga Mironova,Liubomiras Laucevicius,Vladas Bagdonas,70608,NaN,NaN
99,100,Aliens,-1986,R,137 min,"Action, Adventure, Sci-Fi",8.3,Fifty-seven years after surviving an apocalypt...,James Cameron,Sigourney Weaver,Michael Biehn,Carrie Henn,Paul Reiser,687704,84.0,$85.16M

In [4]:
movies.tail()

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,metascore,GROSS COLLECTION
245,246,Mr. Smith Goes to Washington,-1939,Passed,129 min,"Comedy, Drama",8.1,A naive youth leader is appointed to fill a va...,Frank Capra,James Stewart,Jean Arthur,Claude Rains,Edward Arnold,112642,73.0,$9.60M
246,247,Gone with the Wind,-1939,Passed,238 min,"Drama, History, Romance",8.1,The manipulative daughter of a Georgia plantat...,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,304725,97.0,$198.68M
247,248,It Happened One Night,-1934,Passed,105 min,"Comedy, Romance",8.1,A renegade reporter trailing a young runaway h...,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns,100198,87.0,$4.36M
248,249,The Passion of Joan of Arc,-1928,Passed,114 min,"Biography, Drama, History",8.1,"In 1431, Jeanne d'Arc is placed on trial on ch...",Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,André Berley,Maurice Schutz,52264,NaN,$0.02M
249,250,The General,-1926,Passed,67 min,"Action, Adventure, Comedy",8.1,After being rejected by the Confederate milita...,Clyde Bruckman,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,88022,NaN,$1.03M

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ranking of movie    250 non-null    int64
 1   movie name          250 non-null    object
 2   Year                250 non-null    object
 3   certificate         250 non-null    object
 4   runtime             250 non-null    object
 5   genre               250 non-null    object
 6   RATING              250 non-null    float64
 7   DETAIL ABOUT MOVIE  250 non-null    object
 8   DIRECTOR            250 non-null    object
 9   ACTOR 1             250 non-null    object
 10  ACTOR 2             250 non-null    object
 11  ACTOR 3             250 non-null    object
 12  ACTOR 4             250 non-null    object
 13  votes               250 non-null    int64
 14  metascore           218 non-null    float64
 15  GROSS COLLECTION    214 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 31.4+ KB

In [6]:
movies.columns

Index(['ranking of movie', 'movie name ', 'Year', 'certificate', 'runtime',
       'genre', 'RATING', 'DETAIL ABOUT MOVIE', 'DIRECTOR ', 'ACTOR 1',
       'ACTOR 2', 'ACTOR 3', 'ACTOR 4', 'votes', 'metascore',
       'GROSS COLLECTION'],
      dtype='object')

## Drop Unnecessary Columns

In [7]:
movies.drop(['ranking of movie', 'certificate', 'DETAIL ABOUT MOVIE', 'ACTOR 3', 'ACTOR 4'], axis =1, inplace = True)
movies.head()

,movie name,Year,runtime,genre,RATING,DIRECTOR,ACTOR 1,ACTOR 2,votes,metascore,GROSS COLLECTION
0,Jai Bhim,-2021,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,163431,NaN,NaN
1,The Shawshank Redemption,-1994,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,2515762,80.0,$28.34M
2,The Godfather,-1972,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,1732749,100.0,$134.97M
3,The Dark Knight,-2008,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,2466041,84.0,$534.86M
4,The Godfather: Part II,-1974,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,1202401,90.0,$57.30M

In [8]:
movies.columns = movies.columns.str.lower().str.strip()

In [9]:
movies.columns.str.lower().str.strip()

Index(['movie name', 'year', 'runtime', 'genre', 'rating', 'director',
       'actor 1', 'actor 2', 'votes', 'metascore', 'gross collection'],
      dtype='object')

In [10]:
movies.columns= movies.columns.str.replace(' ', '_')

In [11]:
movies.columns

Index(['movie_name', 'year', 'runtime', 'genre', 'rating', 'director',
       'actor_1', 'actor_2', 'votes', 'metascore', 'gross_collection'],
      dtype='object')

In [12]:
movies.describe()

           rating         votes   metascore
count  250.000000  2.500000e+02  218.000000
mean     8.308400  5.785299e+05   82.449541
std      0.234669  4.951304e+05   10.822392
min      8.100000  2.653800e+04   55.000000
25%      8.100000  1.688628e+05   75.000000
50%      8.200000  4.313355e+05   84.000000
75%      8.400000  8.854255e+05   90.000000
max      9.400000  2.515762e+06  100.000000

## What is the minimum and maximum ratings ?

In [13]:
movies.rating.min()

8.1

In [14]:
movies['rating'].min()

8.1

In [15]:
movies.rating.max()

9.4

## What are the movies with rating > 9 ?

In [16]:
movies[movies['rating']> 9]

,movie_name,year,runtime,genre,rating,director,actor_1,actor_2,votes,metascore,gross_collection
0,Jai Bhim,-2021,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,163431,NaN,NaN
1,The Shawshank Redemption,-1994,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,2515762,80.0,$28.34M
2,The Godfather,-1972,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,1732749,100.0,$134.97M

In [17]:
movies[movies['rating']> 9]['movie_name']

0                    Jai Bhim
1    The Shawshank Redemption
2               The Godfather
Name: movie_name, dtype: object

In [18]:
movies[movies['rating']> 9][['movie_name' , 'rating']]

                 movie_name  rating
0                  Jai Bhim     9.4
1  The Shawshank Redemption     9.3
2             The Godfather     9.2

In [19]:
movies[movies['rating']> 9][['movie_name' , 'rating']].sort_values('rating')

                 movie_name  rating
2             The Godfather     9.2
1  The Shawshank Redemption     9.3
0                  Jai Bhim     9.4

## Top 10 movies per metascore and user rating

In [20]:
# Top per metascore
top_per_ms = movies[['movie_name', 'metascore']].sort_values('metascore', ascending = False).head(10)
top_per_ms

              movie_name  metascore
112              Vertigo      100.0
109   Lawrence of Arabia      100.0
117         Citizen Kane      100.0
50            Casablanca      100.0
49           Rear Window      100.0
2          The Godfather      100.0
224  Fanny and Alexander      100.0
113  Singin' in the Rain       99.0
52           City Lights       99.0
31         Seven Samurai       98.0

In [21]:
#Top per user rating
top_per_ur = movies[['movie_name', 'rating']].sort_values('rating', ascending = False).head(10)
top_per_ur

                                           movie_name  rating
0                                            Jai Bhim     9.4
1                            The Shawshank Redemption     9.3
2                                       The Godfather     9.2
3                                     The Dark Knight     9.0
4                              The Godfather: Part II     9.0
5                                        12 Angry Men     9.0
6       The Lord of the Rings: The Return of the King     8.9
7                                        Pulp Fiction     8.9
8                                    Schindler's List     8.9
12  The Lord of the Rings: The Fellowship of the Ring     8.8

## Top 10 genres

In [22]:
movies.groupby('genre')['movie_name'].count()

genre
Action, Adventure             2
Action, Adventure, Comedy     1
Action, Adventure, Drama      6
Action, Adventure, Fantasy    4
Action, Adventure, Sci-Fi     5
                             ..
Horror, Mystery, Thriller     1
Horror, Sci-Fi                1
Mystery, Romance, Thriller    1
Mystery, Thriller             3
Western                       2
Name: movie_name, Length: 109, dtype: int64

In [23]:
most_by_genre = movies.groupby('genre')['movie_name'].count().sort_values(ascending = False).head(10)
most_by_genre

genre
Drama                           22
Crime, Drama                    14
Biography, Drama, History        9
Animation, Adventure, Comedy     8
Crime, Drama, Mystery            8
Drama, War                       8
Drama, Romance                   7
Action, Crime, Drama             7
Action, Adventure, Drama         6
Action, Adventure, Sci-Fi        5
Name: movie_name, dtype: int64

## Top 10 Directories

In [24]:
directors_rating = movies.groupby('director')['rating'].mean().sort_values(ascending = False).head(15)
directors_rating

director
T.J. Gnanavel           9.400000
Frank Darabont          8.950000
Francis Ford Coppola    8.866667
Jon Watts               8.800000
Peter Jackson           8.800000
Lana Wachowski          8.700000
Irvin Kershner          8.700000
Robert Zemeckis         8.650000
Jonathan Demme          8.600000
Fernando Meirelles      8.600000
Roberto Benigni         8.600000
George Lucas            8.600000
Masaki Kobayashi        8.600000
Christopher Nolan       8.557143
Sidney Lumet            8.550000
Name: rating, dtype: float64

## Top 10 First Actors

In [26]:
first_actors_rating = movies.groupby('actor_1')['rating'].mean().sort_values(ascending = False).head(15)
first_actors_rating

actor_1
Suriya                 9.40
Tim Robbins            9.30
Liam Neeson            8.90
John Travolta          8.90
Tom Holland            8.80
Elijah Wood            8.80
Henry Fonda            8.75
Lilly Wachowski        8.70
Marlon Brando          8.65
Daveigh Chase          8.60
Matthew McConaughey    8.60
Roberto Benigni        8.60
Morgan Freeman         8.60
Kátia Lund             8.60
Jodie Foster           8.60
Name: rating, dtype: float64

## Top 10 Second Actors

In [27]:
second_actors_rating = movies.groupby('actor_2')['rating'].mean().sort_values(ascending = False).head(15)
second_actors_rating

actor_2
Lijo Mol Jose           9.40
Morgan Freeman          9.30
Al Pacino               9.20
Heath Ledger            9.00
Lee J. Cobb             9.00
Viggo Mortensen         8.90
Ralph Fiennes           8.90
Uma Thurman             8.90
Zendaya                 8.80
Joseph Gordon-Levitt    8.80
Robin Wright            8.80
Edward Norton           8.80
Eli Wallach             8.80
Ian McKellen            8.75
Louise Fletcher         8.70
Name: rating, dtype: float64